{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4 text-left"> {% trans 'Labels' %} </h1>
	<a class="btn btn-info btn-sm mr-2" href="{% url 'label_create'%}">
			{% trans 'Create label' %}</a>
    <table class="table text-white">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">{% trans 'ID' %}</th>
	      <th scope="col">{% trans 'Name' %}</th>
	      <th scope="col">{% trans 'Creation date' %}</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for label in labels %}
	    <tr>
	      <th scope="row">{{ label.id }}</th>
			<td>{{ label.id }}</td>
			<td>{{ label.name }}</td>
			<td>{{ label.created_at }}</td>
	      	<td>
				<a class="btn btn-info btn-sm mr-2" href="{% url 'label_update' label.id %}">
				{% translate 'Edit' %}</a>
				<a class="btn btn-danger btn-sm" href="{% url 'label_delete' label.id %}">
				{% translate 'Delete' %}</a>
	      	</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
{% endblock %}