<!doctype html>
{% load bootstrap5 %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>TASK MANAGER</title>


    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Task Manager</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Users</a>
        <a class="nav-link" href="#">Log in</a>
        <a class="nav-link" href="#">Sign up</a>
      </nav>
    </div>
  </header>

      {% block content %}
      {% endblock %}


  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><a href="https://github.com/Nazarinh0">Nazarinh0</a> project on <a href="https://hexlet.io">Hexlet</a> python course</p>
    </div>
  </footer>
</div>
</body>
</html>
